.imgShow{
    max-height: 400px;
    border-radius: 15px;
    min-height: 300px;
}

.imgOutputContainer{
    background: #f3f3f3;
    box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.3);
}

.button{
    position: absolute;
    left: 17%;
}
