.App {
  text-align: center;
}

.backStyle {
  background: rgb(242, 246, 244);
  background: linear-gradient(90deg, rgba(242, 246, 244, 0.927608543417367) 20%, rgba(188, 189, 187, 1) 50%, rgba(110, 110, 110, 1) 200%);
}
.body{
  height: 100vh;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}